$main-blue: #1D3557;
$pyyellow: #FFD166;
$third: #7779A7;
$night: #090C08;

html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  nav {
    width: 40%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
      font-size: 1.8rem;
      transition: 0.6s;
    }
  }

  .logo {
    width: 6rem;
    height: 6rem;
    margin-left: 3rem;
    margin-top: 1rem;

    svg {
      width: 100%;
      height: 100%;
    }

    svg:hover {
      transform: none;
    }
  }

  .icons {
    display: flex;
    margin-top: 1rem;
    margin-right: 3rem;
    align-items: center;

    .icon {
      svg {
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem;
        transition: 1.1s;
      }
    }
  }

}

.slideshow {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;

  .slide {
    width: 100vw;
    height: 100%;
    flex: 0 0 100%;
    transition: 1s;
    display: flex;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      width: 50%;
      position: relative;
      left: 15%;
      max-height: 70%;
      justify-content: center;

      .text {
        width: 70%;
        max-height: 10%;
        font-size: 1.3rem;
        text-align: justify;
      }

      h1 {
        min-width: 200px;
        font-size: 4rem;
        font-weight: 700;
      }
    }

    .image {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        width: 35rem;
        height: 35rem;
        object-fit: cover;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

.skills {
  background-color: $night;
  color: white;
  display: flex;
  flex-direction: column;
}

.show {
  color: white;
  width: 100vw;
  height: 100%;
  flex: 0 0 100%;
  transition: 1s;
  display: flex;
  align-items: center;
  flex-direction: column;

  .carousel {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: 41em;
    width: 50%;
    position: relative;

    .image {
      width: 70%;
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      align-items: center;
      transition: 1s;

      p {
        width: 90%;
      }

      .source {
        transform: none;
      }

      img {
        width: 25rem;
        height: 25rem;
        object-fit: contain;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 33px -12px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0px 0px 33px -12px rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 33px -12px rgba(255, 255, 255, 0.75);
      }

      h2 {
        margin: 1rem 0 0 0;
      }

      p {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 6em;
  justify-content: center;

  h1 {
    min-width: 200px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1rem 0;
  }
}

.categories {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .column {
    width: 45%;
  }
}

.skillRow {
  overflow-y: hidden;
  display: flex;

  .card {
    width: 5rem;
    margin: 0 1.5rem 0 1.5rem;

    h3 {
      text-align: center;
      text-wrap: wrap;
      overflow-wrap: break-word;
      margin-top: 0;
    }

    img {
      width: 5rem;
      height: 5rem;
      margin-bottom: 0;
    }
  }

  .card:hover {
    transform: scale(1.03);
    transition: 0.6s;
  }

}

.category {
  margin-bottom: 0.3em;
}

.description {
  width: 60%;
  text-align: center;
  font-size: 1.3rem;
}

.fullStack {
  background-color: $third;
}

.dataScience {
  background-color: $main-blue;
  color: $pyyellow;
}

.arrow {
  position: absolute;
  top: calc(50% - 3rem);
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.6s;
}

.arrow.right {
  right: 1rem
}

.arrow.left {
  left: 1rem
}

svg:hover {
  transform: scale(1.5);
}

.roller {
  height: 4rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  color: $main-blue;

  #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4rem;
  }

  50% {
    top: -8rem;
  }

  72.5% {
    top: -12.25rem;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  transition: 0.6s;
}

.beat {
  animation: beat 2s infinite;
}

@keyframes beat {

  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }

  30%,
  80% {
    transform: scale(1.1, 1.1);
  }
}

@media only screen and (max-width: 1200px) {

  header {
    position: static;

    .icons {
      .icon {
        svg {
          width: 2.2rem;
          height: 2.2rem;
          margin: 1rem;
          transition: 1.1s;
        }
      }
    }
  }

  .slideshow {
    flex-wrap: wrap;
    overflow: visible;

    .slide {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .content {
        position: static;
        width: 80%;
        margin-top: 0;
        justify-content: flex-start;
        align-items: center;

        .text {
          width: 100%;
          max-height: 40%;
          font-size: 2.5vh;
          text-align: justify;
        }

        h1 {
          min-width: 200px;
          font-size: 8vw;
          font-weight: 700;
          margin: 0;
          text-align: center;

          .roller {
            height: 10vw;
            line-height: 10vw;
          }
        }
      }

      .image {
        width: 50%;
        display: flex;
        justify-content: center;

        img {
          width: 60vw;
          height: 60vw;
        }
      }
    }
  }

  .slide {

    .info {
      margin-top: 2em;
      display: flex;
      overflow-wrap: break-word;
      width: 80%;

      h1 {
        font-size: 10vw;
        margin: 0;
      }
    }

    .description {
      height: 30%;
      width: 80%;
      font-size: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description:nth-child(2) {
      font-size: 3.5vw;
    }

    .carousel {
      height: 70%;
      width: 90%;
      position: relative;
      overflow-y: hidden;

      .arrow {
        display: block;
        width: 5vw;
        height: 5vw;
      }

      .image {
        width: 50vh;

        img {
          width: 60vw;
          height: 60vw;
          min-height: 50vw;
        }

        h2 {
          font-size: 5vw;
        }

        p {
          font-size: 3vw;
          text-align: center;
          overflow-wrap: break-word;
          max-width: 90%;
          margin-top: 0.5rem;
        }
      }
    }
  }

  .arrow {
    display: none;
  }

  .skills {
    height: 100%;

    .categories {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: auto;

      .column {
        width: 80%;

        .skillRow {
          overflow-x: auto;
        }

        .category {
          font-size: 5vw;
        }

        .card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 20vw;
          margin: 0 1.5vw 0 1.5vw;

          h3 {
            text-align: center;
            text-wrap: wrap;
            overflow-wrap: break-word;
            font-size: 3vw;
            margin-top: 0;
          }

          img {
            width: 10vw;
            height: 10vw;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  footer {
    position: static;
    background-color: $night;
    color: white;
  }

  @keyframes slide {
    0% {
      top: 0;
    }

    25% {
      top: -10vw;
    }

    50% {
      top: -20vw;
    }

    72.5% {
      top: -30vw;
    }
  }
}