$main-blue: #1D3557;
$pyyellow: #FFD166;
$third: #7779A7;
$night: #090C08;

html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .logo {
    width: 6rem;
    height: 6rem;
    margin-left: 3rem;
    margin-top: 1rem;

    svg {
      width: 100%;
      height: 100%;
    }

    svg:hover {
      transform: none;
    }
  }

  .icons {
    display: flex;
    margin-top: 1rem;
    margin-right: 3rem;
    align-items: center;

    .icon {
      svg {
        width: 2.5rem;
        height: 2.5rem;
        margin: 1rem;
        transition: 1.1s;
      }
    }
  }

}

.slideshow {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;

  .slide {
    width: 100vw;
    height: 100%;
    flex: 0 0 100%;
    transition: 1s;
    display: flex;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      width: 50%;
      position: relative;
      left: 20%;
      max-height: 70%;
      justify-content: center;

      .text {
        width: 70%;
        max-height: 10%;
        font-size: 1.3rem;
        text-align: justify;
      }

      h1 {
        min-width: 200px;
        font-size: 4rem;
        font-weight: 700;
      }
    }

    .image {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        width: 35rem;
        height: 35rem;
        object-fit: cover;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
      }
    }
  }
}

.categories {
  width: 70%;
}

.skills {
  background-color: $night;
  color: white;
  display: flex;
  flex-direction: column;
}

.show {
  color: white;
  width: 100vw;
  height: 100%;
  flex: 0 0 100%;
  transition: 1s;
  display: flex;
  align-items: center;
  flex-direction: column;

  .carousel {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    height: 41em;
    width: 50%;
    position: relative;

    .image {
      width: 70%;
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      align-items: center;
      transition: 1s;

      .source {
        transform: none;
      }

      img {
        width: 25rem;
        height: 25rem;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 33px -12px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 0px 0px 33px -12px rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 33px -12px rgba(255, 255, 255, 0.75);
      }

      h2 {
        margin: 1rem 0 0 0;
      }

      p {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 6em;
  justify-content: center;

  h1 {
    min-width: 200px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 1rem 0;
  }
}

.categories {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  .column {
    width: 45%;
  }
}

.skillRow {
  overflow-y: hidden;
  display: flex;

  .card {
    width: 5rem;
    margin: 0 1.5rem 0 1.5rem;

    h3 {
      text-align: center;
      text-wrap: wrap;
      overflow-wrap: break-word;
      margin-top: 0;
    }

    img {
      width: 5rem;
      height: 5rem;
      margin-bottom: 0;
    }
  }

  .card:hover {
    transform: scale(1.03);
    transition: 0.6s;
  }

}

.category {
  margin-bottom: 0.3em;
}

.description {
  width: 60%;
  text-align: center;
  font-size: 1.3rem;
}

.fullStack {
  background-color: $third;
}

.dataScience {
  background-color: $main-blue;
  color: $pyyellow;
}

.arrow {
  position: absolute;
  top: calc(50% - 3rem);
  background: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 0.6s;
}

.arrow.right {
  right: 1rem
}

.arrow.left {
  left: 1rem
}

svg:hover {
  transform: scale(1.5);
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  color: $main-blue;

  #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    animation-iteration-count: 1;
    animation-delay: 1s;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -4rem;
  }

  50% {
    top: -8rem;
  }

  72.5% {
    top: -12.25rem;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  transition: 0.6s;
}

.beat {
  animation: beat 2s infinite;
}

@keyframes beat {

  0%,
  50%,
  100% {
    transform: scale(1, 1);
  }

  30%,
  80% {
    transform: scale(1.1, 1.1);
  }
}

@media only screen and (max-width: 1200px) {

  header {
    position: static;
  }

  .slide {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      max-height: 70%;
      justify-content: center;
      width: 80%;
      left: 0;

      .text {
        width: 90%;
        max-height: 10%;
        font-size: 0.5rem;
        text-align: justify;
      }

      h1 {
        min-width: 200px;
        font-size: 4rem;
        font-weight: 700;
      }
    }

    .image {
      width: 50%;
      display: flex;
      justify-content: center;

      img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border-radius: 100%;
        -webkit-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 33px -12px rgba(0, 0, 0, 0.75);
      }
    }
  }

  .slideshow {
    flex-wrap: wrap;
    overflow: visible;
  }

  .skillRow {
    overflow-x: scroll;
  }

  .arrow {
    display: none;
  }

  .categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .column {
      width: 80%;
    }
  }

  footer {
    position: static;
    background-color: $night;
    color: white;
  }
}